<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="form-login">
        <div id="form-modal">
          <%= form_for :session, url: login_path, class: "login-inside" do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "form-control"  %><br>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
            <div class="modal-inline">
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>remember</span>
                <% end %>&emsp;&emsp;
            </div>
            <br>
            <%= f.submit "Login", class: "btn btn-success" %>
          <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>